/*---universal--*/

.button-primary {
    color: #FFF;
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 600;
    background: #FF900E;
    height: 3rem;
    padding: 15px 25px;
    margin-left: 364px;
    border: 0;

}






/*---universal*/
.header {
    max-width: 1440px;
    height: auto;
    background: rgba(255, 144, 14, 0.10);
    padding: 20px 220px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
    list-style: none;

}

nav>ul a {
    text-decoration: none;
    color: #424242;
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;


}


nav h3 {
    color: var(--Dark-01, #131313);
    text-align: center;
    font-family: Work Sans;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;

}

nav li {
    padding-left: 3rem;
}

/*bannr style*/

.banner {
    max-width: 866px;
    height: auto;
    margin: 0 auto;

}

.banner-tittle {
    color: var(--Dark-01, #131313);
    text-align: center;
    font-family: Work Sans;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;

}

.banner-description {
    color: var(--Dark-03, #727272);
    text-align: center;
    font-family: Work Sans;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
}

.banner img {
    padding-right: 240px;
    background-repeat: no-repeat;
    position: relative;
    right: 285px;
    margin-top: 1rem;

}

/*---team section--*/
.tem-section-container {
    display: flex;
    max-width: 82.5rem;
    height: auto;
    margin: 0 auto;
    align-items: center;

}

.tem-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

}

.tem-content-container {
    padding-left: 4rem;
}

.Quick-list {
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.list2 {
    color: var(--Dark-01, #131313);
    font-family: Work Sans;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Features {
    color: #FF900E;
    font-family: Work Sans;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tem-content-container p {
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2rem;

}

.btn-second {
    color: #FFF;
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 600;
    background: #FF900E;
    height: 3rem;
    padding: 1rem 1.5rem;
    border: 0;
}

/*--media quary for mobile---*/
@media screen and (max-width:574px) {

    nav,
    .tem-section-container {
        flex-direction: column;
    }

    .header {
        padding: 1rem;
    }

    .banner,
    img {
        max-width: 35rem;
        padding-left: 1rem;
    }

    .button-primary {
        margin-left: 1rem;
    }

    .tem-img-container {
        grid-template-columns: 1fr;
    }



}