/*---universal--*/

.button-primary {
    color: #FFF;
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 600;
    background: #FF900E;
    height: 3rem;
    padding: 15px 25px;
    border: 0;

}

* {
    margin: 0;
    padding: 0;
}






/*---universal*/
.header {
    max-width: 1440px;
    height: auto;
    background: rgba(255, 144, 14, 0.10);
    padding: 20px 220px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
    list-style: none;

}

nav>ul a {
    text-decoration: none;
    color: #424242;
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;


}


nav h3 {
    color: var(--Dark-01, #131313);
    text-align: center;
    font-family: Work Sans;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;

}

nav li {
    padding-left: 3rem;
}

/*bannr style*/


.banner-section {
    max-width: 1440px;
    height: auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

.banner-section,
h1 {

    color: var(--Dark-01, #131313);
    text-align: center;
    font-family: Work Sans;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 25px;
}

.banner-section,
p {
    color: var(--Dark-03, #727272);
    text-align: center;
    font-family: Work Sans;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 1rem;
}

.banner img {

    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 1rem;

}

/*---team section--*/
.tem-section-container {
    display: flex;
    max-width: 82.5rem;
    height: auto;
    margin: 0 auto;
    align-items: center;

}

.tem-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

}

.tem-content-container {
    padding-left: 4rem;
}

.Quick-list {
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.list2 {
    color: var(--Dark-01, #131313);
    font-family: Work Sans;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Features {
    color: #FF900E;
    font-family: Work Sans;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tem-content-container p {
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2rem;

}

.btn-second {
    color: #FFF;
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 600;
    background: #FF900E;
    height: 3rem;
    padding: 1rem 1.5rem;
    border: 0;
}

/*--feature section--*/

.feature-section-container {
    display: flex;
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
    gap: 150px;
    margin-top: 80px;
}

.feature-section-colum1 {
    width: 95%;
    margin-top: 25px;

}

.feature-section-colum1 h1 {
    width: 468px;
    color: var(--Dark-01, #131313);
    font-family: Work Sans;
    font-size: 2.2rem;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    margin-bottom: 1.5rem;
    text-align: left;
    padding-left: 25px;

}

.feature-section-colum1 p {
    max-width: 30rem;
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2rem;
    text-align: left;

}

.feature-section-row {
    margin-top: 1.4rem;
    max-width: 586px;
    height: 121px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 2rem;
}



.feature-section-row h5 {
    color: var(--Dark-01, #131313);
    font-family: Work Sans;
    font-size: .8rem;
    font-weight: 600;
    max-width: 250px;
    height: 1.5ren;
    padding: 1rem 2rem;
    margin: 0;
}

.feature-section-row p {
    max-width: 26rem;
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 0 2rem;
    margin: 0;


}

.third-btn {
    width: 230px;
    height: 150px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF900E;
    border: 0;
    position: relative;
    bottom: 85px;
    right: 105px;
    padding: 40px;
}

.third-btn,
h2 {
    max-width: 258px;
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;

}

.third-btn p {
    color: #FFF;
    font-family: Work Sans;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}









/*--media quary for mobile---*/
@media screen and (max-width:574px) {

    nav,
    .tem-section-container {
        flex-direction: column;
    }

    .header {
        padding: 1rem;

    }

    .banner,
    img {
        max-width: 35rem;
        padding-left: 1rem;

    }

    .button-primary {
        margin-left: 1rem;
    }

    .tem-img-container {
        grid-template-columns: 1fr;
    }

    .feature-section-container {
        flex-direction: column;

    }

    .third-btn {
        position: relative;
        top: 80px;
        left: 90px;
    }




}